.card {
    border: 1px solid var(--sds-color-border-default-default);
    background-color: var(--sds-color-background-default-default);
    border-radius: 8px;
    flex-direction: column;
    gap: 24px;
    width: 392px;
    padding: 24px;
    display: flex;
  }
  
  .content {
    flex-direction: column;
    gap: 16px;
    display: flex;
  }
  
  .title {
    color: #1e1e1ebf;
    letter-spacing: -0.3px;
    font-family: Inter;
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
  }
  
  .description {
    color: #757575;
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
  }
  
  .button {
    color: #1e1e1e;
    cursor: pointer;
    background-color: #00884a;
    border: none;
    border-radius: 8px;
    width: fit-content;
    padding: 12px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
  }
  
  @media (max-width: 640px) {
    .card {
      width: 100%;
    }
  }